version: "3.8"
services:

  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=dev
      - POSTGRES_DB=brancoin
    ports:
      - 8082:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  bot:
    build: ./bot/
    env_file:
      - ./env.txt
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=dev
      - POSTGRES_DB=brancoin
      - IS_DEBUG=true
      - WEB_PORT=8081
    ports:
      - 8081:8081
    depends_on:
      - db
    # volumes:
    #   - ./bot/:/usr/src/app

  migrate:
    build: ./bot/
    entrypoint: ["alembic"]
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PASSWORD=password
      - POSTGRES_USER=dev
      - POSTGRES_DB=brancoin
      # Dummy values - envvars.py loads these at import time
      - DISCORD_TOKEN=unused
      - DISCORD_TOKEN_DEBUG=unused
      - IS_DEBUG=true
      - LEAGUE_TOKEN=unused
      - WEB_PORT=8081
      - PUSHOVER_TOKEN=unused
      - PUSHOVER_USER=unused
    volumes:
      - ./bot/alembic:/usr/src/app/alembic
      - ./bot/models:/usr/src/app/models
    depends_on:
      - db

volumes:
  pgdata:
     
